<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.junjange.soondong">
    <!-- 인터넷 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/togetherness"
        android:label="오순도순"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/togetherness"
        android:supportsRtl="true"
        android:theme="@style/Theme.Soondong"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MatchUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.matching_today.MatchingTodayActivity"
            android:exported="false" />
        <activity
            android:name=".ui.signin.SigninActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dialog.EditDialog"
            android:exported="false"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".ui.matching_edit.GenderActivity"
            android:exported="false"
            android:label="@string/title_activity_gender" />
        <activity
            android:name=".ui.matching_edit.SportsActivity"
            android:exported="false"
            android:label="@string/title_activity_sports" />
        <activity
            android:name=".ui.matching_edit.MatchingEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.matching_detail.MatchingDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.matching.MatchingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Main.Soondong" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApp.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>